# Spotify — developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=ton_client_id_spotify
SPOTIFY_CLIENT_SECRET=ton_client_secret_spotify
REDIRECT_URI=https://ton-app.onrender.com/auth/callback

# Last.fm — last.fm/api/account/create
LASTFM_API_KEY=ta_cle_api_lastfm
LASTFM_USERNAME=ton_pseudo_lastfm

PORT=3000
